__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
# Data & outputs
data/**
!data/**/README.md

artifacts/**
!artifacts/**/README.md

submission.csv
*.joblib
*.pkl

# CI / tests caches
.pytest_cache/
